<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ViewDriverActivity"
            android:exported="false" />
        <activity
            android:name=".PoliceUpdateDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".PoliceProfileActivity"
            android:exported="false" />
        <activity
            android:name=".PoliceHomeActivity"
            android:exported="false" />
        <activity
            android:name=".ViewLicenceImages"
            android:exported="false" />
        <activity
            android:name=".ScanCardBackActivity"
            android:exported="false" />
        <activity
            android:name=".QRGeneretor"
            android:exported="false" />
        <activity
            android:name=".ViewLicenceDetails"
            android:exported="false" />
        <activity
            android:name=".ConfirmDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".HomePageActivity"
            android:exported="false" />
        <activity
            android:name=".ScanCardFrontActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>